<ion-view>
  <ion-content scroll="false">
    <img ng-src="{{cover}}">
    <ion-scroll height="60%" scroll="true" class="gallery">
      <ion-gallery ion-gallery-items="images" ion-item-callback="display(item)"></ion-gallery>
    </ion-scroll>
  </ion-content>
  <div class="tabs">
    <a class="tab-item tab-item-active">Gallery</a>
    <a class="tab-item">Photo</a>
    <a class="tab-item">Video</a>
  </div>
</ion-view>

