<ion-view>
  <div class="action-button">
    <button ng-click="takePhoto()" class="button button-icon icon ion-android-add"></button>
  </div>
  <ion-content>

    <ion-list can-swipe="listCanSwipe" class="list-borderless feed">
      <ion-item collection-repeat="post in posts" item-height="348px">
        <div class="item item-avatar">
          <img ng-src="{{post.author.avatar}}">
          <h2>{{post.author.name}}</h2>
          <p class="place energized">{{post.author.city}}, {{post.author.country}}</p>
          <div class="datetime">
            <i class="date icon ion-calendar"> 14 Dec 2015</i>
            <i class="time icon ion-clock"> 2:00pm</i>
          </div>
        </div>
        <div class="item item-body">
          <img ng-src="{{post.image}}">
          <div class="row item-meta">
            <p class="action col">
              <a href="#" class="button button-icon icon ion-ios-heart-outline"></a>
              <a href="#" class="button button-icon icon ion-ios-chatbubble-outline"></a>
              <a href="#" class="button button-icon icon ion-ios-paperplane-outline"></a>
            </p>
            <p class="description col">{{post.description}}</p>
          </div>
          <hr class="separator">
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      icon="ion-loading-c"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
