<ion-modal-view>
  <ion-header-bar class="bar">
    <h1 class="title energized">Invite</h1>
    <button class="button button-clear button-primary" ng-click="inviteModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <h2>invite page</h2>
  </ion-content>
</ion-modal-view>
