<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <button class="button button-icon icon ion-location"></button>
    <h1 class="title energized">Location</h1>
    <button class="button button-clear button-primary" ng-click="location.hide()">CANCEL</button>
  </ion-header-bar>
  <ion-header-bar class="bar bar-subheader item-input-inset bar-stable">
    <label class="item-input-wrapper clear">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" placeholder="search">
    </label>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item>
        <h2>San Jose, California</h2>
        <p>San Joce</p>
      </ion-item>
      <ion-item>
        <h2>Malibu, California</h2>
        <p>Malibu</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
