<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-clear">
    <h1 class="title">Log in</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list padding sign-up">
      <label class="item item-input item-borderless">
        <input type="text" placeholder="Email" ng-model="user.email">
      </label>
      <label class="item item-input item-borderless">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
      <button class="button button-block button-energized" ng-click="login()">Sign Up</button>
      <button class="button button-block button-energized" ng-click="oauth()">Continue with google</button>
    </div>
  </ion-content>
</ion-view>
