<ion-view>
  <ion-content ng-controller="MeetTabCtrl">
    <ion-list can-swipe="listCanSwipe" class="list meetings-list">
      <ion-item collection-repeat="meeting in meetings" item-height="100px">
        <div class="item item-avatar-left item-button-right item-borderless">
          <img ng-src="{{meeting.avatar}}">
          <h2>{{meeting.name}}</h2>
          <p>
            <i class="icon ion-location"></i>
            {{meeting.location}}
          </p>
          <a href="#/tab/meetings/{{meeting.id}}" class="button access-button" ng-click="show(meeting)">
            <i class="icon ion-chevron-right"></i>
          </a>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      icon="ion-loading-c"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

