<ion-view>
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-nav-title class="title energized">John Doe</ion-nav-title>
  <ion-content ng-controller="MeetingCtrl">
    <h1>Meeting page</h1>
  </ion-content>
</ion-view>
