<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-chevron-left button-clear" ng-click="back()"></button>
  </ion-nav-buttons>
  <ion-nav-title class="title energized">Add Post</ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button
      class="button button-icon icon ion-checkmark-round padding-right button-clear"
      ng-click="submitPost"
    ></button>
  </ion-nav-buttons>
  <ion-content ng-controller="NewPostCtrl">
    <ion-list class="list">
      <div class="padding">
        <div class="item item-image">
          <img ng-src="{{image}}" class="full-image">
        </div>
        <label class="item item-input item-borderless">
          <textarea placeholder="Write a sub text"></textarea>
        </label>
        <button class="button button-block button-energized" ng-click="tag()">
          <i class="icon ion-pound placeholder-icon stable"></i>
          Tag kids
        </button>
        <button class="button button-block button-energized" ng-click="location.show()">
          <i class="icon ion-location placeholder-icon stable"></i>
          Add location
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
