<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-clear">
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list padding sign-up">
      <label class="item item-input item-borderless">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input item-borderless">
        <input type="password" placeholder="Password">
      </label>
      <button class="button button-block button-energized ">Sign Up</button>
    </div>
  </ion-content>
</ion-view>
