<ion-modal-view>
  <ion-header-bar class="bar">
    <h1 class="title energized">Search</h1>
    <button class="button button-clear button-primary" ng-click="searchModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <h2>Search page</h2>
  </ion-content>
</ion-modal-view>
