<ion-tabs class="tabs-striped tabs-top" ng-class="{'tabs-item-hide': $root.hideTabs}">

  <ion-tab title="Home" href="#/tab/home" class="energized fade-in-not-out">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Explore" href="#/tab/explore" class="energized fade-in-not-out">
    <ion-nav-view name="explore-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Meet" href="#/tab/meetings" class="energized fade-in-not-out">
    <ion-nav-view name="meet-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

