/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$energized: #FF7F00;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.tabs-striped .tab-item.tab-item-active,
.tabs-striped .tab-item.active,
.tabs-striped .tab-item.activated {
  border-color: $energized;
}

.feed {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  ion-item {
    padding-left: 0;
    padding-top: 0;
  }
  .item-avatar {
    flex: 0 0 auto;
  }
  .item-image {
    flex: 1 1 auto;
  }
  .item-body {
    padding-top: 0;
  }
}

%offside {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #666;
}

.datetime {
  @extend %offside;
}

p.energized {
  color: $energized;
}

.item .description {
  position: absolute;
  right: 0;
  bottom: 45px;
  line-height: 12px;
  width: 50%;
  font-size: 10px;
  text-overflow: initial;
  white-space: pre-wrap;
}

.item-meta {
  padding: 0;
  .action, .description {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.action-button {
  position: absolute;
  top: 85%;
  left: 75%;
  z-index: 1000;
  button {
    color: white;
    background-color: $energized;
    border-radius: 50%;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    &:hover {
      color: white;
    }
  }
}

.date, .time {
  display: block;
  font-size: 10px;
}

.item-borderless {
  margin-top: 16px;
  border-bottom-width: 1px;
}

.item-avatar-left {
  margin-top: 0;
  border-bottom-width: 0;
}

.button.access-button {
  margin-top: 4px;
  color: #666;
  border-radius: 50%;
  padding: 5px 15px 5px 17px;
  background: none;
  border: 1px solid #666;
  &:hover {
    color: $energized;
    border-color: $energized;
  }
}
.button.access-button.activated {
  background: $energized;
  color: white;
}

.item-avatar-left > img:first-child {
  max-width: 60px;
  max-height: 60px;
  top: 6px;
  left: 0;
}

.cover {
  z-index: 999;
}

.gallery {
  height: 50%;
  margin-top: -5px;
}

.item-input-wrapper.clear {
  background: white;
}

.bar.bar-clear .title {
  color: $energized;
}

