<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ion-gallery/dist/ion-gallery.css" rel="stylesheet">

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ion-gallery/dist/ion-gallery.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
     <!--cordova script (this will be a 404 during development)-->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="everBook" ng-controller="AppCtrl">

    <ion-nav-bar class="bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <a href="#/tab/menu" class="button button-clear icon ion-navicon"></a>
      </ion-nav-buttons>
      <ion-nav-title>
        <h1 class="title title-left energized">Everbook</h1>
      </ion-nav-title>
      <ion-nav-buttons side="secondary">
        <button ng-click="inviteModal.show()" class="button button-clear icon ion-ios-personadd"></button>
        <button ng-click="searchModal.show()" class="button button-clear icon ion-ios-search-strong"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

  </body>
</html>
